.utility-nav-bar{
  background-color: #F9F8F2;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.utility-nav-links {
  display: flex;
}
.make-an-appointment {
  margin-right:50px;
}
.button {
  border-radius: 24px;
  border: none;
  padding:16px;
  background-color: #FFEBCA;
}
.cortica-logo {
  width: 64px;
  height: 64px;
  margin-left:50px;
}
.cortica-logo-container {
  display: flex;
  align-items: center;
}
